/* {} */

* {
    margin: 0;
}

.topButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    padding-bottom: 1rem;
}

.qq {
    text-decoration: none;
    border: 1px grey solid;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: darkred;
    color: red;
    border-bottom: 1px black solid;
}
.qq:hover {
    background-color: rgb(121, 2, 2)
}
.qq:active {
    background-color: rgb(96, 1, 1);
}

.insFortopButtons {
    margin-top: 3rem;
    margin-left: 10rem;
    line-height: 3rem;
}

.firstPart {
    border-bottom: orange dotted 4px;
    padding-bottom: 4rem;
}


body {
    background-color: brown;
}


.leftButtons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: grey;
    position: relative;
    top: 4rem;
    width: 7.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.xx {
   
    color: red;
    background-color: darkred;
    width: 6rem;
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-right: black 1px solid;
}
.xx:hover {
    background-color: rgb(121, 2, 2)
}
.xx:active {
    background-color: rgb(96, 1, 1);
}
.PNTEO {
    display: inline-block;
}
.insForleftButtons {
    position: relative;
    left: 20rem;
    bottom: 18rem;
    border-bottom: 1px blanchedalmond solid;
    padding-bottom: 3px;
}

.lastone {
    width: max-content;
    position: relative;
    left: 20rem;
    bottom: 14rem;
}

.pff {
    background-color: lightgrey;
    
    
}






/*relative: Moves the element relative to its normal position.
absolute: Moves the element relative to the nearest positioned ancestor (position: relative).
fixed: Moves the element relative to the viewport.
sticky: Acts like relative until it reaches a threshold, then sticks in place.*/
